
input{
    width: 150px;
    height: 100px;
    border-radius: 25px;
    border-style: none;
    margin: 2px;
  }
  
  input:hover{
   background: #a01694; 
   transition: background 0.3s;
  }
  #output{
    margin: 2rem;
    width: 400px;
    background: white;
    text-align: center;
    margin-top: 50px;
    height: 50px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
  }
 
  body {
    background-color: #FFFFFF;
    animation: colorchange 20s;
    animation-iteration-count: 300;
    -webkit-animation: colorchange 20s; 
    -webkit-animation-iteration-count: 300;
  }
     @keyframes colorchange
      {
        0%   {background: #826AED;}
        25%  {background: #C879FF;}
        50%  {background: #FFB7FF;}
        75%  {background:#C879FF}
        100% {background:#826AED;}
      }
      @-webkit-keyframes colorchange 
      {
        0%   {background: #FFB7FF;}
        25%  {background:  #CAFF8A;}
        50%  {background:  #826AED;}
        75%  {background: #3BF4FB;}
        100% {background: #C879FF;}
      }
  #container
  {

    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    border-radius: 25px;
    margin: 0 auto;
    height: auto;
    width: 6rem;
  }
  
  
  input[value="AC"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="CE"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="%"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="/"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="7"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="8"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="9"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="*"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="4"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="5"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="6"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="-"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="1"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="2"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="3"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="+"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="0"]{ font-size: 50px;font-family: 'Lato', sans-serif; }
  input[value="1"]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="."]{ font-size: 50px; font-family: 'Lato', sans-serif;}
  input[value="="]{ font-size: 50px;font-family: 'Lato', sans-serif; }